<h1>List of Users</h1>
<!-- <pre>{{ users | json }}</pre> -->
<table class="table table-striped table-hover d-flex d-md-table">
  <tr class="d-none d-md-table-row">
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Email</th>
    <th scope="col">Actions</th>
  </tr>
  <tbody class="flex-fill">
    <!-- track by $index if id does non exists  -->

    @for(user of users; track user.id){
    <tr class="mb-2 mb-md-0 d-flex d-md-table-row flex-column">
      <th>{{ user.id }}</th>
      <td>{{ user.name }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.email }}</td>
      <td>
        <a class="btn btn-primary" [routerLink]="['add-edit', user.id]">Edit</a>
        <button class="btn btn-danger" (click)="deleteUser(user.id)">
          Delete
        </button>
        <a class="btn btn-warning" [routerLink]="[user.id]">Details</a>
      </td>
    </tr>

    }
  </tbody>
</table>
