<h1 class="my-4"><em>Add Edit User</em></h1>
<!-- <pre>{{ form.value | json }}</pre> -->
<div class="bg-body-tertiary">
  <div class="container">
    <form class="row g-3" [formGroup]="form" (ngSubmit)="submit()">
      <div class="col-md-6">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          required
        />
        <!-- ------------errorre message------ -->
        <div *ngIf="form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)">
          <small *ngIf="form.get('name')?.errors?.['required']">Name is required.</small>
          <small *ngIf="form.get('name')?.errors?.['minlength']">Name must be at least 3 characters long.</small>
          <small *ngIf="form.get('name')?.errors?.['maxlength']">Name cannot be more than 15 characters long.</small>
        </div>
        
        <!-- ------------errorre message------ -->

      </div>
      <div class="col-md-6">
        <label for="surname" class="form-label">Surname</label>
        <input
          type="text"
          class="form-control"
          id="surname"
          formControlName="surname"
          required
        />
      </div>

       <!-- ------------errorre message------ -->
      <div *ngIf="form.get('surname')?.invalid && (form.get('surname')?.touched || form.get('surname')?.dirty)">
        <small *ngIf="form.get('surname')?.errors?.['required']">Surname is required.</small>
      </div>
       <!-- -----------errorre message------ -->

      <div class="col-md-6">
        <label for="fiscalCode" class="form-label">FiscalCode</label>
        <input
          type="text"
          class="form-control"
          id="fiscalCode"
          formControlName="fiscalCode"
          pattern="^[a-zA-Z]{6}[0-9]{2}[a-zA-Z][0-9]{2}[a-zA-Z][0-9]{3}[a-zA-Z]$"
          required
        />

        <!-- ------------errorre message------ -->
        <div *ngIf="form.get('fiscalCode')?.invalid && (form.get('fiscalCode')?.touched || form.get('fiscalCode')?.dirty)">
          <small *ngIf="form.get('fiscalCode')?.errors?.['required']">fiscalCode is required.</small>
          <small *ngIf="form.get('fiscalCode')?.errors?.['minlength']">FiscalCode must be at least 16 characters long.</small>
          <small *ngIf="form.get('fiscalCode')?.errors?.['maxlength']">FiscalCode cannot be more than 16 characters long.</small>
          <small *ngIf="fiscalCode?.errors?.['invalidFiscalCode']">Fiscal code is invalid.</small>

        </div>
         <!-- -----------errorre message------ -->

      </div>
      <div class="col-md-6">
        <label for="address" class="form-label">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          formControlName="address"
          required
        />
         <!-- ------------errorre message------ -->
      <div *ngIf="form.get('address')?.invalid && (form.get('address')?.touched || form.get('address')?.dirty)">
        <small *ngIf="form.get('address')?.errors?.['required']">Address is required.</small>
      </div>
       <!-- -----------errorre message------ -->
      </div>
      <div class="col-12">
        <label for="cap" class="form-label">Cap</label>
        <input
          type="text"
          class="form-control"
          id="cap"
          formControlName="cap"
        />
        <!-- ------------errorre message------ -->
        <div *ngIf="form.get('cap')?.invalid && (form.get('cap')?.touched || form.get('cap')?.dirty)">
          <small *ngIf="form.get('cap')?.errors?.['required']">CAP is required.</small>
          <small *ngIf="form.get('cap')?.errors?.['minlength']">CAP must be 5 characters long.</small>
          <small *ngIf="form.get('cap')?.errors?.['maxlength']">CAP cannot be more than 5 characters long.</small>
          <small *ngIf="form.get('cap')?.errors?.['pattern']">CAP must be numeric.</small>
        </div>
         <!-- ------------errorre message------ -->
      </div>
      <div class="col-md-6">
        <label for="city" class="form-label">City</label>
        <input
          type="text"
          class="form-control"
          id="city"
          formControlName="city"
          required
        />
        <!-- ------------errorre message------ -->
        <div *ngIf="form.get('city')?.invalid && (form.get('city')?.touched || form.get('city')?.dirty)">
          <small *ngIf="form.get('city')?.errors?.['required']">City is required.</small>
        </div>
         <!-- ------------errorre message------ -->
      </div>
      <div class="col-md-6">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          class="form-control"
          id="country"
          formControlName="country"
          required
        />
        <!-- ------------errorre message------ -->
        <div *ngIf="form.get('city')?.invalid && (form.get('city')?.touched || form.get('city')?.dirty)">
          <small *ngIf="form.get('city')?.errors?.['required']">City is required.</small>
        </div>
         <!-- ------------errorre message------ -->
      </div>
      <div class="col-md-6">
        <label for="phone" class="form-label">Phone</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          formControlName="phone"
          required
        />
        <!-- ------------errorre message------ -->
        <div *ngIf="form.get('phone')?.invalid && (form.get('phone')?.touched || form.get('phone')?.dirty)">
          <small *ngIf="form.get('phone')?.errors?.['invalidPhoneNumber']">Phone number is invalid. It must be numeric</small>
        </div>
         <!-- ------------errorre message------ -->
      </div>
      <div class="col-md-6">
        <label for="mobile" class="form-label">Mobile</label>
        <input
          type="text"
          class="form-control"
          id="mobile"
          formControlName="mobile"
          required
        />
        <!-- ------------errorre message------ -->
        <div *ngIf="form.get('mobile')?.invalid && (form.get('mobile')?.touched || form.get('mobile')?.dirty)">
          <small *ngIf="form.get('mobile')?.errors?.['required']">Mobile is required.</small>
          <small *ngIf="form.get('mobile')?.errors?.['invalidPhoneNumber']">Mobile number is invalid. It must be numeric</small>
          <small *ngIf="form.get('mobile')?.errors?.['minlength']">Mobile must be 10 characters long.</small>
          <small *ngIf="form.get('mobile')?.errors?.['maxlength']">Mobile cannot be more than 10 characters long.</small>
        </div>

         <!-- ------------errorre message------ -->

      </div>
      <div class="col-12">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          required
        />
        <!-- ------------errorre message------ -->
        <div *ngIf="form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)">
          <small *ngIf="form.get('email')?.errors?.['required']">Email is required.</small>
          <small *ngIf="form.get('email')?.errors?.['email']">Invalid email format.</small>
        </div>
        <!-- ------------errorre message------ -->
      </div>
      <div class="col-12">
     
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
          {{ isEditing ? 'Edit User' : 'Add User' }}
        </button>
      </div>
    </form>
  </div>
</div>
