<h1>Add Edit User</h1>
<pre>{{ form.value | json }}</pre>
<div class="bg-body-tertiary">
  <div class="container">
    <form class="row g-3" [formGroup]="form">
      <div class="col-md-6">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
        />
      </div>
      <div class="col-md-6">
        <label for="surname" class="form-label">Surname</label>
        <input
          type="text"
          class="form-control"
          id="surname"
          formControlName="surname"
        />
      </div>
      <!-- <div class="col-md-6">
        <label for="inputFiscalCode" class="form-label">FiscalCode</label>
        <input type="text" class="form-control" id="inputFiscalCode" />
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" />
      </div>
      <div class="col-12">
        <label for="inputCap" class="form-label">Cap</label>
        <input type="number" class="form-control" id="inputCap" />
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity" />
      </div>
      <div class="col-md-6">
        <label for="inputCountry" class="form-label">Country</label>
        <input type="text" class="form-control" id="inputCountry" />
      </div>
      <div class="col-md-6">
        <label for="inputPhone" class="form-label">Phone</label>
        <input type="text" class="form-control" id="inputPhone" />
      </div>
      <div class="col-md-6">
        <label for="inputMobile" class="form-label">Mobile</label>
        <input type="text" class="form-control" id="inputMobile" />
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" />
      </div> -->
      <div class="col-12">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
          Add User
        </button>
      </div>
    </form>
  </div>
</div>
