
<!-- <pre>{{users | json}}</pre> -->
<div class="container">
   <div class="row gap-3 justify-content-center my-5">
      
         @if(users){
         
               @for(user of users; track user.id){
   
                  <div class="card">
                     <img src="https://doodleipsum.com/700x700/avatar-2?i=5983c3a94be9767ae99292c5eacb39fb" class="card-img-top" alt="...">
                     <div class="card-body">
                        <h5 class="card-title">{{user.name}}{{user.surname}}</h5>
                        <p class="card-text">{{user.email}}</p>
                     </div>
                  </div>
               }
            
         }
      
   </div>
</div>